.postItStack {
    display: flex;
    align-items: center;
}

.postItSheet {
    font-family: "Alex Brush", "Georgia", "serif";
    font-size: calc(var(--font-size-default) * 2);
    line-height: 1.25em;
    padding: var(--unit);
    color: #2e0f87;
    background-color: #7d64ff;
    max-width: 400px;
    height: 225px;
    box-shadow: 0px 0px 30px silver;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 10px 0 -5px #7d64ff,
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 20px 0 -10px #7d64ff,
        /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

@media (min-width: 1001px) {
    .postItSheet {
        transform: translate(0, 24px) rotate(-5deg);
    }
}

@media (max-width: 1000px) {
    .postItStack {
        justify-content: center;
        height: 375px;
    }
}

@media (max-width: 500px) {
    .postItStack {
        display: inline-block;
        justify-content: center;
    }

    .postItSheet {
        font-size: 1em;
    }
}
