.feedbackContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: var(--font-size-default);
    margin: calc(var(--unit) * 4) 0;
    grid-gap: calc(var(--unit) * 2);
    line-height: 1.25em;
    font-family: "Georgia", "serif";
}

.feedbackContainer label {
    text-align: right;
    width: 100%;
    display: inline-block;
    color: var(--color-text-light);
    font-size: 0.65em;
    font-style: italic;
}
