.postItStack {
    position: relative;
}

.postIt {
    padding: calc(var(--unit) * 1);
    background-color: yellow;
    margin-top: var(--unit);
    transform: rotate(5deg) translate(50px, 10px);
    position: absolute;
    height: 300px;
    width: 600px;
    border-radius: 1px;
    font-family: "Georgia", "serif";
    /* font-size: calc(var(--font-size-default) * 0.75); */
    font-size: var(--font-size-default);
    line-height: 1.25em;

    box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 10px 0 -5px yellow,
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 20px 0 -10px yellow,
        /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.card1Item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--unit);
}

@media (max-width: 1140px) {
    .postItStack {
        display: flex;
        justify-content: center;
        transform: scale(75%);
    }

    .postIt {
        position: relative;
        transform: translate(-10px, 10px) rotate(5deg);
    }
}

@media (max-width: 500px) {
    .postItStack {
        transform: scale(50%);
    }
}

@media (max-width: 359px) {
    .postItStack {
        transform: scale(30%);
    }
}
