.testAutomationContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: calc(var(--unit) * 2) 1fr;
    font-size: var(--font-size-default);
    font-family: "Georgia", "serif";
    margin: calc(var(--unit) * 4) 0;
}

.testAutomationContainer h2 {
    grid-column: 1 / -1;
    margin: 0;
    font-family: "Roboto", "Helvetica", "sans-serif";
}

.testAutomationContainer section p {
    line-height: 1.5em;
}

@media (max-width: 1140px) {
    .testAutomationContainer {
        display: initial;
    }

    .testAutomationContainer section:last-child {
        min-height: 400px;
    }
}
