.mainContainer {
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .mainContainer {
        margin: 0 var(--unit);
        max-width: 100%;
        overflow: hidden;
    }
}
