.cvphoto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}

.cvphoto img {
    width: 200px;
    height: 200px;
    /* background-color: silver; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

/* the point where there is only one column */
@media (max-width: 670px) {
    .cvphoto {
        justify-content: flex-end;
        margin-right: 1em;
    }
}

@media (max-width: 486px) {
    .cvphoto {
        margin: 1em 0;
        justify-content: flex-end;
        align-items: flex-start;
        grid-column: 1 / span 2;
        justify-content: center;
    }
}
