.cvsummary {
    margin: 0 1em;
}

.cvsummary h4 {
    margin: 0;
    font-weight: 600;
    font-size: 0.75em;
}

.cvsummary p {
    font-size: var(--font-size-small);
    line-height: calc(var(--unit) * 1.4);
}
