.work {
    margin: 1em;
    font-size: 1em;
}

.work h4 {
    margin: 0;
    font-weight: 600;
    font-size: 0.75em;
}

/* ------------ */

.workItem {
    margin-top: 1em;
}

.work p {
    font-size: var(--font-size-small);
    line-height: 1.3em;
    font-weight: 600;
}

.work div h4 {
    font-weight: 400;
    margin: 0;
}

.work ul {
    margin: 0;
    padding: 0;
}

.work ul li {
    margin: 0 0 0.3em;
    padding: 0;
    font-size: var(--font-size-small);
}

.role {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.role label {
    font-size: var(--font-size-small);
    display: flex;
    align-items: center;
    font-style: italic;
}
