.projectItem {
    display: flex;
    color: var(--color-text-light);
    margin-bottom: calc(var(--unit) * 4);
    font-family: "Georgia", "serif";
}

.projectItemTitle {
    margin: 0 0 var(--unit) 0;
    color: var(--color-primary-dark);
    line-height: 1.25em;
    font-weight: 600;
    /* text-decoration: underline; */
    font-family: "Roboto", "Helvetica", "sans-serif";
    /* font-size: 1em; */
}

.projectItemDescription {
    font-size: var(--font-size-default);
    grid-row-start: 2;
    margin: var(--unit) 0;
    margin: 0;
    line-height: 1.5em;
}

.projectItemCompanyContainer {
    margin-right: calc(var(--unit) * 2);
}

.projectItemCompany {
    width: 275px;
    overflow: hidden;
}
.projectItemImageContainer {
    background-color: var(--color-background-clear);
    height: 100px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectItemImage {
    padding: var(--unit);
    border-radius: 16px;
}

.projectItemCompanyDescription {
    font-size: 0.75em;
    line-height: 1.5em;
    margin: var(--unit) 0 0 0;
    color: var(--color-text-light);
}

@media (max-width: 750px) {
    .projectItem {
        display: inline-block;
        margin-bottom: calc(var(--unit) * 4);
    }
    .projectItemCompanyContainer {
        display: inline-block;
        width: 100%;
        margin: 0;
        margin-bottom: calc(var(--unit) * 4);
        font-size: 0.75em;
    }

    .projectItemCompany {
        width: 100%;
    }
}
