.cv {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fff;
    height: 100%;
    margin: 1em auto;
    max-width: 1000px;
}

.cv main,
.cv aside {
    margin-top: var(--unit);
}
