@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@400;900&display=swap");

:root {
    --color-background: #f1f1f1;
    --color-background-clear: #ffffff;
    --color-text-light: #838383;
    --color-primary-dark: #222222;
    --color-accent: yellow;
    --unit: 16px;
    --font-size-default: 26px;
}

* {
    color: var(--color-primary-dark);
}

::selection {
    background: yellow;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "sans-serif";
    /* background-color: var(--color-background); */
    font-size: calc(var(--unit) * 2);
    color: var(--color-primary-dark);
}
